img-container {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  width: 100%;
  user-select: none;
  border-radius: 8px;
  overflow: hidden;
}

actions-menu {
  position: absolute;
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  z-index: 100;
}

img-container img {
  display: block;
  width: 100%;
  height: auto;
}